<meta charset="utf-8">
<title>Práctica 5-Calculadora de Temperaturas desplegada con ExpressJS</title>
<link rel="stylesheet" href="../static/css/reset.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="../static/css/global.css" media="screen" title="no title" charset="utf-8">
<script type="text/javascript" src="/static/js/temperatura.js">
</script>
